*{
    box-sizing: border-box;
}
body{
    color: white;
    line-height: 1.6em;
    font-family: 'Montserrat', sans-serif;
}
.container a, h1{
    color: orange;
}
h1{
    font-weight:300;
}
a{
    font-weight:400;
}
.container{
    background: url("../img/sortmønsterbakgrunn.jpeg");
}
.topImgDiv{
    background-image: url("../img/rødtHus.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.pAlignBottom{
    font-size: 1.5em;
    font-weight: 500;
    padding: 20em 2em ;
}
.partner{
    width: 100%;
    padding: 0 10em;
    margin: auto;
}

.floatLeft{
    display: flex;
}
.floatLeft p {
    padding-left: 2em;

}
.floatLeft img{
    border-radius: 50%;
}

.floatRight{
    display: flex;
}
.floatRight p {
    padding-right: 2em;
}
.floatRight img{
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
}