*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust:100%
}
nav{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgba(8, 14, 44, 0.8);;
    padding: 20px;
    justify-content: space-between;
    position: absolute;
}
.logo{
    width: 100px;
}
a{
    text-decoration: none;
    color:white;
    margin: 3px;
}
                            /*Nav Buttons*/
.navBtns a{
    padding: 10px 15px;
    margin: 5px;
    font-weight: bold;
}
.navBtns :nth-child(1){
    border: 1px solid white;
}
.navBtns :nth-child(1):hover{
    transition: 0.2s;
    background-color: white;
    color: black;
}
.navBtns :nth-child(2){
    border: 1px solid orange;
    color: orange;
}
.navBtns :nth-child(2):hover{
    transition: 0.2s;
    background-color: orange;
    color: white;
}
                            /* Nav Text Links*/
.navText{
    width: 300px;
    margin: auto;
    margin-right: 0;
}
.navTextLinks{
    position: relative;
}
.navTextLinks:before{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
.navTextLinks:hover:before {
    visibility: visible;
    width: 100%;
  }

                                /*Top Image Div*/
.topContainer{
    background-image: url(../img/top-image.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.kundeAnmeldelse p{
    color: white;
    font-size: 26px;
    letter-spacing: 1px;
    width: 60%;
    margin-left: 10%;
    padding-top: 30%;
}
.kundeAnmeldelse h3{
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    width: 60%;
    margin-left: 10%;
    font-style: italic;
}
.bestillBord{
    margin-left: 45%;
}
.bestillBordBtn{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px 28px;
    margin-top: 6em;
    background-color: orange;
    border: none;
    position: relative;
}
.bestillBordBtn:hover{
    color: white;
    background-color: darkorange;
    cursor:pointer;
}

                        /* Velkommen boks under top image div*/
.velkommenBoks{
    padding: 3em;
    background-image: url("../img/sortmønsterbakgrunn.jpeg");
    background-position: top;
    padding-left: 10%;
    padding-bottom: 5%;
}
.velkommenBoks hr{
    width: 15%;
    margin-left: 0%;
    border-color:orange;
}
.velkommenFlexBoks{
    display: flex;
}
.velkommenBoks p{
    width: 40%;
    color: white;
}
.velkommenBoks h1{
    text-align: left;
    letter-spacing: 6px;
    color: orange;
    font-size: 56px;
    font-family: 'Rufina';
    font-weight: lighter;
}
.velkommenBoks img{
    width: 50%;
    padding-left: 20%;
}

                        /* Velkommen boks nummer 2 under top image div*/
.velkommenBoks2{
    padding: 3em;
    background-image: url("../img/sortmønsterbakgrunn.jpeg");
    background-position: top;
    padding-left: 10%;
    padding-bottom: 10%;
}
.velkommenBoks2 hr{
    width: 15%;
    margin-right: 35%;
    border-color:orange;
}
.velkommenFlexBoks2{
    display: flex;
}
.velkommenBoks2 p{
    width: 50%;
    color: white;
}
.velkommenBoks2 h1{
    text-align: left;
    letter-spacing: 4px;
    color: orange;
    font-size: 56px;
}
.velkommenBoks2 img{
    width: 50%;
    padding-right: 20%;
}

                            /* Åpningstider og Adresse Div */
.adresseBoks{
    display: flex;
    background-color: rgba(254, 250, 212, 1);
}
.adresseTekst{
    width: 50%;
    padding: 3em;
}
.adresseTekst h1{
    font-family: 'Montserrat';
    font-weight:normal;
    font-size: 2.5em;
}
.adresseTekst p{
    line-height: 1.6;
}
#kart{
    width: 50%;
    background-color: pink;
}

                                    /* Footer */
footer{
    display: flex;
    background-image: url("../img/sortmønsterbakgrunn.jpeg");
}
.footerText{
    width: 50%;
    padding: 2em;
    color: white;
    line-height: 1.6;
}
.footerText h3{
    font-family: 'Montserrat';
    color: orange;
}
footer img{
    width: 40%;
}
.footerImg{
    margin: auto;
}
.footerSocials{
        display: flex;
        margin: auto;
        padding-right: 2em;
}

 /* Media Queries */ 
 @media screen and (max-width: 1100px) {
    div.velkommenFlexBoks, div.velkommenFlexBoks2 {
      display:inline;
      margin: auto;
    }
  }
  @media screen and (max-width: 1100px) {
    div.velkommenFlexBoks p, div.velkommenBoks2 p {
      width: 80%;
      margin: auto;
    }
  }
  @media screen and (max-width: 1100px) {
    div.velkommenFlexBoks img, div.velkommenBoks2 img {
      width: 60%;
      margin:10%;
    }
  }
  @media screen and (max-width: 1100px) {
    div.velkommenBoks2 img {
      width: 60%;
      margin: 10% 30%;
    }
  }
  @media screen and (max-width: 1100px) {
    div.velkommenBoks hr, div.velkommenBoks2 hr {
      margin: auto;
      margin-bottom: 5%;
      width: 30%;
    }
  }
  @media screen and (max-width: 1100px) {
    div.velkommenBoks h1 {
      text-align: center;
    }
  }
  @media screen and (max-width: 800px) {
    div.adresseTekst h1 {
      font-size: 2em;
    }
  }
  @media screen and (max-width: 1100px) {
    div.kundeAnmeldelse p {
      font-size: 1.3em;
    }
  }
